./exp_results/mappo_mlp_PowerGrid/MAPPOTrainer_magym_PowerGrid_55ddd_00000_0_2024-02-25_13-27-31/battery_charge.txt
./exp_results/mappo_mlp_PowerGrid/MAPPOTrainer_magym_PowerGrid_7a67f_00000_0_2024-02-25_14-11-29/battery_charge.txt
./exp_results/iql_mlp_PowerGrid/IQL_grouped_magym_PowerGrid_410d0_00000_0_2024-02-25_15-50-06/battery_charge.txt
./Plots/MAPPO_10_Agents/battery_charge.txt
./Plots/MAPPO_20_Agents/battery_charge.txt
./Plots/IQL_20_Agents/battery_charge.txt
./exp_results/mappo_mlp_PowerGrid/MAPPOTrainer_magym_PowerGrid_55ddd_00000_0_2024-02-25_13-27-31/battery_charge.txt
./exp_results/mappo_mlp_PowerGrid/MAPPOTrainer_magym_PowerGrid_7a67f_00000_0_2024-02-25_14-11-29/battery_charge.txt
./exp_results/iql_mlp_PowerGrid/IQL_grouped_magym_PowerGrid_410d0_00000_0_2024-02-25_15-50-06/battery_charge.txt
./Plots/MAPPO_10_Agents/battery_charge.txt
./Plots/MAPPO_20_Agents/battery_charge.txt
./Plots/IQL_20_Agents/battery_charge.txt
